---
// Import the necessary dependencies
import TabNav from "../../ui/blocks/TabNav.astro";
import TabContent from "../../ui/blocks/TabContent.astro";
import DigitalMarketing from "./images/digital-marketing.avif";
import WebDevelopment from "./images/web-development.avif";
import WebDesign from "./images/web-design.avif";

// Define the variable for the section's heading
const title: string = `Services we’re providing to our customers`;
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div class="relative p-6 md:p-16">
    <div
      class="relative z-10 lg:grid lg:grid-cols-12 lg:items-center lg:gap-16"
    >
      <!-- Section's heading and tab navigation -->
      <div class="mb-10 lg:order-2 lg:col-span-6 lg:col-start-8 lg:mb-0">
        <h2
          class="text-2xl font-bold text-neutral-800  sm:text-3xl"
        >
          <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
          <Fragment set:html={title} />
        </h2>
        <!-- Tab navigation - use the attribute 'first' in the first TabNav for the component to work -->
        <nav class="mt-5 grid gap-4 md:mt-10" aria-label="Tabs" role="tablist">
          <TabNav
            id="tabs-with-card-item-1"
            dataTab="#tabs-with-card-1"
            aria="tabs-with-card-1"
            heading="Website development"
            content="Elevating your online presence with custom web solutions tailored to your unique vision."
            first={true}
          >
           <svg stroke="currentColor" 
           fill="none" 
           stroke-width="0" 
           height="48"
            class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
                viewBox="0 0 24 24"
              width="48" xmlns="http://www.w3.org/2000/svg">
              <path 
              fill-rule="evenodd" clip-rule="evenodd" 
              d="M14 7C13.4477 7 13 7.44772 13 8V16C13 16.5523 13.4477 17 14 17H18C18.5523 17 19 16.5523 19 16V8C19 7.44772 18.5523 7 18 7H14ZM17 9H15V15H17V9Z" ></path><path d="M6 7C5.44772 7 5 7.44772 5 8C5 8.55228 5.44772 9 6 9H10C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7H6Z" ></path><path d="M6 11C5.44772 11 5 11.4477 5 12C5 12.5523 5.44772 13 6 13H10C10.5523 13 11 12.5523 11 12C11 11.4477 10.5523 11 10 11H6Z" ></path><path d="M5 16C5 15.4477 5.44772 15 6 15H10C10.5523 15 11 15.4477 11 16C11 16.5523 10.5523 17 10 17H6C5.44772 17 5 16.5523 5 16Z" ></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4 3C2.34315 3 1 4.34315 1 6V18C1 19.6569 2.34315 21 4 21H20C21.6569 21 23 19.6569 23 18V6C23 4.34315 21.6569 3 20 3H4ZM20 5H4C3.44772 5 3 5.44772 3 6V18C3 18.5523 3.44772 19 4 19H20C20.5523 19 21 18.5523 21 18V6C21 5.44772 20.5523 5 20 5Z"></path></svg>
          </TabNav>

          <TabNav
            id="tabs-with-card-item-2"
            dataTab="#tabs-with-card-2"
            aria="tabs-with-card-2"
            heading="Graphic designing"
            content="Creating impactful visuals that communicate your brand's message with clarity and creativity."
          >
            <svg
              class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
              height="48"
              viewBox="0 -960 960 960"
              width="48"
              ><path
                d="M510-570v-270h330v270H510ZM120-450v-390h330v390H120Zm390 330v-390h330v390H510Zm-390 0v-270h330v270H120Zm60-390h210v-270H180v270Zm390 330h210v-270H570v270Zm0-450h210v-150H570v150ZM180-180h210v-150H180v150Zm210-330Zm180-120Zm0 180ZM390-330Z"
              ></path></svg
            >
          </TabNav>

          <TabNav
            id="tabs-with-card-item-3"
            dataTab="#tabs-with-card-3"
            aria="tabs-with-card-3"
            heading="Digital marketing"
            content="Elevating your brand's online presence with data-driven digital marketing solutions that deliver results."
          >
            <svg
              class="h-6 w-6 flex-shrink-0 text-neutral-700 hs-tab-active:text-[#fa5a15] dark:hs-tab-active:text-[#fb713b] md:h-7 md:w-7"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819"
              ></path>
            </svg>
          </TabNav>
        </nav>
      </div>

      <!-- Contents for each tab - the 'first' attribute should be used in the first tab for that tab to be initially visible, 'second' changes the styles -->
      <div class="lg:col-span-6">
        <div class="relative">
          <div>
            <TabContent
              id="tabs-with-card-1"
              aria="tabs-with-card-item-1"
              src={WebDevelopment}
              alt="Yellow and black heavy equipment on brown grass field"
              first={true}
            />
            <TabContent
              id="tabs-with-card-2"
              aria="tabs-with-card-item-2"
              src={WebDesign}
              alt="A screenshot or graphic representation of the intuitive dashboard"
              second={true}
            />
            <TabContent
              id="tabs-with-card-3"
              aria="tabs-with-card-item-3"
              src={DigitalMarketing}
              alt="Gray metal building frame near tower crane during daytime"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="absolute inset-0 grid h-full w-full grid-cols-12">
      <!-- Decorative background and sizing -->
      <div
        class="col-span-full h-5/6 w-full rounded-xl bg-neutral-100 dark:bg-white/[.075] sm:h-3/4 lg:col-span-7 lg:col-start-6 lg:h-full"
      >
      </div>
    </div>
  </div>
</section>
<!--Import the necessary Tabs plugin-->
<!--https://preline.co/plugins/html/tabs.html-->
<script is:inline src="/scripts/vendor/preline/tabs/index.js"></script>
